/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    line-height: 1.6;
    background-color: ivory;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .newsletter-btn {
    background-color: #f1c40f;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Hero section styles */
  .bg-color {background-color: black; 
    z-index: 3; }
 
    .hero {
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dhriwtfjq/image/upload/v1711762095/IMG_1716_zbgq3c.jpg');
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center;
        padding: 12rem 12rem;
    }
    
    
 
    
    
  
  .hero h1 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    margin-bottom: 20px;
    padding: 2rem;
    margin: 1rem;

  }
  
  .hero p {
    font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
   
  }
  
  .cta-btn {
    background-color: #f1c40f;
    color: #333;
    text-decoration: none;
    padding: 1rem 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 3rem;
  }
  
  /* About section styles */
  .about {
    padding: 50px 20px;
    text-align: center;
  }
  
  .about h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 2rem;
  }

  .about .divider {
    width: 200px; /* Adjust width of divider */
    height: 2px; /* Adjust height of divider */
    background-color: #000; /* Adjust color of divider */
    margin: 0 auto 20px; /* Adjust margin for positioning */
 }
    
  
  .about p {
    padding-top: 2rem;
    margin-bottom: 20px;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: large;
  }
  
  /* Author Spotlight section styles */
  .author-spotlight {
    padding: 50px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-column,
.image-column {
    flex: 1;
    padding: 0 20px;
}

.text-column {
    text-align: left;
}

.image-column img {
    max-width: 200%;
    display: block;
    margin: 0 auto;
}

.book-details {
    max-width: 600px;
    margin: 0 auto;
   
}

 .author-spotlight h2 {padding-top: 2rem;
padding-bottom: 2rem;
font-size: 40px}

.book-details p {
    margin-bottom: 20px;
    text-align: left;
    padding-bottom: 2rem;
    font-size: large;
}

  /* Newsletter section styles */
  .newsletter {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Users/jazzyme/Documents/GitHub/Readers-Palace/Readers_Palace CTA.JPG');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
  }
  
  .newsletter h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .newsletter p {
    margin-bottom: 30px;
    font-size: large;
    padding-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  
  /* Blog section styles */
  .blog {
    padding: 50px 20px;
    margin: 1rem;
    text-align: center;
  }
  
  .blog h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .blog p {
    margin-bottom: 20px;
    font-size: large;
    padding-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    
    
  }
  
  .blog-previews {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 8rem;
  }
  
  .blog-preview {
    text-align: center;
    max-width: 300px;
  }
  
  .blog-preview img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .blog-preview p {
    margin-bottom: 10px;
    padding-top: 2rem;
    text-align: center;
  }
 
  